
.card-character__text {
    visibility: hidden;
    transition: visibility .1s ease-in-out;
}
.card-character__cover {
    visibility: hidden;
    transition: visibility .1s ease-in-out;
}

.card-character:hover .card-character__text, 
.card-character:hover .card-character__cover {
    visibility: visible;
}