@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    font-size: 66.5%; /*Transforma 1REM a 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1C1C1C;
}

h1 {
    font-weight: 600;
}

.list-max {
    min-height: calc( 100vh - 116px );
}

.list-container {
    min-height: calc( 100vh - 56.24px );
}

.button-disabled-form {
    background-color: rgb(168 162 158);
    color: rgb(87 83 78);
    cursor: default;
}

.button-disabled-form:hover {
    background-color: rgb(168 162 158) !important;
    color: rgb(87 83 78) !important;
}

.fade-in {
    animation: 1s ease-in 0s fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 2px solid #fff;
}

body::-webkit-scrollbar-button,
div::-webkit-scrollbar-button {
    display:none;
}
